<div class="container">
    <div class="jumbotron text-center">
        <h1 id="tituloh1">Bem vindo essa é a Home Page</h1>
        <p id="titulop"> texto Muito foda reside nessa localização, espero que tenha gostado do site</p>  
        <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>