<div class="container">
    <div class="jumbotron text-center">
        <h1 id="tituloh1">Bem vindo essa é a Home Page</h1>
        <p id="titulop"> texto Muito foda reside nessa localização, espero que tenha gostado do site</p>  
        <%= link_to 'Cadastrar-se', signup_path, class: "btn btn-success"%>
    </div>
</div>